@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #42002F;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .loader {
    @apply border-4 border-t-4 border-gray-200 rounded-full;
    border-top-color: #451952;
    width: 3rem; /* h-12 */
    height: 3rem; /* w-12 */
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}